<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./js/main.js"></script>
    <link rel="stylesheet" href="./web/css/main.css">
    <title>Vue Shop</title>
</head>
<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image" v-bind:alt="alt" v-bind:title="title" v-bind:width="width" v-bind:height="height"/>
            </div>
            <div class="product-info">
                <h1>{{ title }}</h1>

                <p v-if="inStock"> 
                    In Stock
                </p>
                <p v-else>
                    Out of Stock
                </p>
                <span v-show="sale">
                    Sale 50% Off!
                </span>

                <h3>
                    Características
                </h3>
                <ul>
                    <li v-for="detail in details">
                        {{ detail }}
                    </li>
                </ul>

                <h3>
                    Derivação:
                </h3>

                <div class="derivation">
                    <div 
                        @mouseover="updateProduct(index)" 
                        v-for="(variant, index) in variants" 
                        :key="variant.variantId"
                        class="color-box"
                        :style="{ backgroundColor: variant.variantColor }">
                    </div>
                </div>

                <button
                    v-on:click="addToCart"
                    :disabled="!inStock"
                    :class="{disabledButton: !inStock}">
                    Adicionar ao carrinho
                </button>
                <div class="counter">
                    <p>
                        itens({{ cart }})
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>